@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .bg-gradient-radial {
    background: radial-gradient(circle, var(--tw-gradient-stops));
  }
}
